<md-dialog aria-label="Update Specie " style="width: 640px; height: auto;" ng-cloak>
  <form name="form" class="simple-form" layout="column" layout-fill novalidate ng-show="!loading">
    <md-toolbar class="md-dialog-header">
      <div class="md-toolbar-tools">
        <h6>UPDATE SPECIE</h6>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog($event)">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div style="padding: 0px 5px;">
      <md-dialog-content>
        <md-content layout-padding layout="column" layout-fill>
          <md-input-container flex>
            <label>Common Name</label>
            <input type="text"
                   name="common_name"
                   ng-model="vm.result.common_name"
                   required/>
            <div ng-messages="form.common_name.$error">
            <div ng-message="required">Cannot be blank.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Botanical Name</label>
             <input type="text"
                   name="botanical_name"
                   ng-model="vm.result.botanical_name"
                   required/> 
              <div ng-messages="form.botanical_name.$error">
              <div ng-message="required">Cannot be blank.</div>
              </div>        
          </md-input-container>
          <md-input-container flex>
            <label>Specie Category</label>
            <md-select placeholder="Specie Category "
                       ng-model="vm.result.specie_category_id"
                       md-on-open="vm.getSpecieCategories()" style="min-width: 200px;" required>
              <md-option ng-value="specieCategory.id"
                    ng-repeat="specieCategory in vm.specieCategories.data"
                    ng-selected="vm.result.specie_category_id==specieCategory.id"
                    >
                    {{ specieCategory.name }}
              </md-option>
            </md-select>
           
          </md-input-container>
          <md-input-container flex>
            <label>Tags</label>
             <input type="text"
                   name="tags"
                   ng-model="vm.result.tags"
                  />                     
          </md-input-container>       
        </md-content>
        <!--<pre> {{ vm.result | json }} </pre>-->
      </md-dialog-content>

      <md-dialog-actions class="row">
        <md-button ng-disabled="(form.$invalid || isDisabled)"
                   class="md-raised"
                   ng-click="vm.updateSpecie(vm.result)">UPDATE</md-button>
      </md-dialog-actions>
    </div>
  </form>
</md-dialog>
