.facility-report {
  counter-reset: my-badass-counter;
  dt {
    position: relative;
    font: bold 16px;
    padding: 4px 0 10px 0;
    &::before {
      font: bold 16px Georgia;
      content: counter(my-badass-counter);
      counter-increment: my-badass-counter;
      position: absolute;
      left: 0;
      top: 0;
      font: bold 50px/1 Sans-Serif;
      color: #7e8991;
    }
  }
  dd {
    margin: 0 0 15px 0;
  }
}
.facility-report dt, .facility-report dd {
  padding-left: 50px;
}

span.facility-name {
  text-transform: capitalize;
}
