.form-container {
  h1 {
    font-size: 18px;
    padding: 10px;
  }
}
.switch-td {
  md-switch {
    margin: 0 !important;
    &.md-checked {
      .md-thumb {
        background-color: rgb(57,73,171);
      }
      .md-ink-ripple {
        //color: green;
      }
      .md-bar {
        background-color: #6f7ede;
      }
    }
  }
}
.action-td {
  a {
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;
    color: #eb5e28;
    i {
      font-size: 1.3em;
    }
  }

  md-switch {
      margin: 0 20px 0 0 !important;
    &.md-checked {
    }
  }

  md-tooltip.switch {
    display: inline-block;
    font-weight: normal;
    margin: 0 0 0 20px;
    color: #eb5e28;
    i {
      font-size: 1.3em;
    }
  }

  button {
    top: -12px;
    left: -15px;
    color: blue;
    ng-md-icon{
      fill: rgba(0, 0, 0, 0.54);
    }
  }
  ng-md-icon{
    fill: #3f51b5;
  }
}

.action-table-data {
  padding-top: 1px !important;
  a {
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;
    color: #eb5e28;
    position: relative;
    top: 10px;
    i {
      font-size: 1.3em;
    }
    ng-md-icon {
      padding-top: 10px;
    }
  }

  .md-button {
    position: relative;
    top: 0px;
  }

  md-switch {
      margin: 0 20px 0 0 !important;
    &.md-checked {
    }
  }

  md-tooltip.switch {
    display: inline-block;
    font-weight: normal;
    margin: 0 0 0 20px;
    color: #eb5e28;
    i {
      font-size: 1.3em;
    }
  }

  button {
    top: -12px;
    left: -15px;
    color: blue;
    ng-md-icon{
      fill: rgba(0, 0, 0, 0.54);
    }
  }
  ng-md-icon{
    fill: #2196f3;
  }
}

.action-facility-td {
  a {
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;
    margin-top: 10px !important;
    color: #eb5e28;
    i {
      font-size: 1.3em;
    }
  }

  button {
    top: 0px !important;
    left: -15px;
    color: blue;
    ng-md-icon{
      fill: rgba(0, 0, 0, 0.54);
    }
  }
  ng-md-icon{
    fill: #3f51b5;
    top: 10px !important;
  }
}

.login-form-container {
  overflow: hidden;
  width: 100%;
  padding: 2em;
}

form.login-form {
  width: 480px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(83,109,254);
    cursor: pointer;
    transition: all 0.15s ease;

    &.md-button.md-raised:not([disabled]) {
      box-shadow: none;
    }
  }

  input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
  }
  md-input-container .md-input{
    height: 45px;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

/* Animations */
@keyframes inputHighlighter {
  from { background: #4a89dc; }
  to 	{ width: 0; background: transparent; }
}
/* active */

.spending-limit {
  padding: 5px 0;
}

.filter-container {
  padding: 8px 0;
  background-color: #fff;
}

.search-filter {
  background-color: #fff;
  padding: 0 20px !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-bottom: 1px solid #fafafa !important;
  position: relative;
  @media print {
    display: none;
  }
  .report-options-menu-content {
    position: absolute;
    right: 5px;
    top: 25px;
    ng-md-icon {
      fill: #000;
    }
    ng-md-icon.locked {
      fill: #16a02d;
    }
  }
}

.form-container {
  max-height: 95vh;
  @media screen and (max-height: 1080px) {
    margin-bottom: 100px;
  }
}

.right-button {
  button {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.filter-button {
  padding: 0 2em;
  ng-md-icon {
    fill: #ccc;
  }
}
