tr.sub-total {
  td {
    font-weight: bold;
    &.cr {
      text-align: left;
      border-top: 2px solid #000;
      border-bottom: 5px double #000;
      @media print {
        border-bottom: 8px double #000;
      }
    }
    &.dr {
      @extend .cr
    }
    &.total {
      @extend .cr
    }
    &.title {
      text-align: left;
      text-transform: uppercase;
    }
    &.new-title {
      text-align: right;
      text-transform: uppercase;
    }
  }
}
thead.top-header{
  border-top: 1px solid #ccc;
  td {
    text-align: left;
    border: none;
    padding: 18px 18px 0;
    border-bottom: none;
    &.last {
      border-bottom: none;
    }
    &.first {
      text-align: right;
    }
  }
  th {
    border: none;
    text-align: right;
  }
}

tr.tr-heading {
  font-weight:bold;
}
.new-sub-total {
  @extend .sub-total;
  td {
    &.new-dr {
      border-top: 2px solid #000;
      border-bottom: 5px double #000;
      @media print {
        border-bottom: 8px double #000;
      }
    }
    &.new-cr {
      border-top: 2px solid #000;
      border-bottom: 5px double #000;
      @media print {
        border-bottom: 8px double #000;
      }
    }
  }
}

.ledger-transactions {
  margin-bottom: 10px;
  .divider {
    height: 10px;
    background: #fafafa;
    width: 100%;
  }
}

tr.ledger-summary {
  td {
    text-align: left;
    &.total_cr {
      text-align: left;
      border-top: 2px solid #000;
      border-bottom: 5px double #000;
      font-weight: bold;
      @media print {
        border-bottom: 8px double #000;
      }
    }
    &.total_dr {
      @extend .total_cr;
    }
    &.sub_total {
      text-align: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

tr.ledger-header {
  th {
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    color: #000;
  }
}

form.cashbook-filter {
  md-input-container {
    margin: 30px 0 0 0;
  }
  .md-button {
    padding: 0 20px;
    ng-md-icon {
      fill: #ddd;
      margin-right: 10px;
    }
  }
}

.voucher-top-table {
  th {
    border: 1px solid rgba(0,0,0,.12);
    font-weight: bold;
  }
  td {
    text-align: left;
    font-weight: bold;
  }
}

.voucher-title {
  text-align: right;
}

.facility-options {
  position: relative;
}

.facility-options-menu-content {
  position: absolute;
  right: 20%;
  top: 30%;
}

tr.highlighted {
  background-color: #eee;
  td.name {
  }
  td.amount {
  }
  td.total {
    font-weight: bold;
  }
  @media print {
    background-color: #eee;
  }
}

td.adjusted {
  font-weight: bold;
}

tr.no-border {
  border: none;
  border-top: 1px solid #ccc;
}
td.no-border {
  border: none;
}

td.border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

td.border-bottom {
  border-bottom: 5px double #000;
  border-top: 2px solid #000;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  @media print {
    border-bottom: 8px double #000;
  }
}
td.summary-border {
  margin-left: 10px;
  border-top: none;
  border-bottom: 1px solid #000;
}

img.logo {
  width: 90px;
  @media print {
    text-align: center;
  }
}
.heading {
  background: #fff;
  padding: 50px 0px;
  text-align: center;
  width: 100%;
}

.ledger-heading {
  background: #fff;
  padding: 50px 0px;
  text-align: center;
  width: 100%;
  @media print {
    position: relative;
    left: 20%;
  }
}

p.source {
  text-transform: uppercase;
}
.report-summary {
  position: absolute;
  top: 65px;
  right : 20px;
  width: 50%;
}
.region-info {
  text-align: center;
  img.logo {
    text-align: center;
  }
}

td.top-bordered {
  border-top: 3px solid #000;
  font-weight: bold;
}

.border-right {
  border-right: 1px solid #ccc;
  border-left: none;
  border-bottom: none;
  border-top: none;
}

.border-left {
  border-left: 1px solid #ccc;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.md-button.add-balance {
  padding: 0 2em;
}
