.circled {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 4px solid rgba(63, 81, 181, 0.18);
}

.user-avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 6px solid rgba(204, 204, 204, 0.42);
}

.login-header {
  font-weight: bold;
  color: rgb(189,189,189);
  font-family: "Roboto","Helvetica","Arial", serif;
  font-size: 2.0em;
}

.demo-info {
  font-weight: bold;
  color: rgb(213,0,0);
  text-transform: uppercase;
}

.live-info {
  @extend .demo-info;
  color: #1ba735;
}
