.md-toolbar-tools h2.head-title {
  text-transform: uppercase;
  font-weight: bold;
}

md-sidenav {
  .sidebar-toggle {
    fill: #fff;
    right: -135px;
  }

  .avatar-holder {
    margin-top: 25px;
    text-align: center;
  }

  .descriptions {
    text-align: left;
    padding-left: 15px;
    text-transform: uppercase;
    h3{
      font-size: 13px;
      text-transform: uppercase;
      margin: 0 5px 0 0;
      line-height: 15px;
    }
    a{
      color: #fff;
      font-size: 15px;
      text-decoration: none;
      &.facility-name {
        text-transform: uppercase;
      }
    }
  }
  md-list {
    padding: 0;
    color: #283593;
    text-decoration: none;
    font-weight: bold;
    a {
      text-decoration: none;
      font-weight: bold;
      color: #283593;
    }
    ng-md-icon {
      fill: rgba(0,0,0,0.54);
    }
    md-item-content {
      cursor: pointer;
      &:hover {
        background: #ccc;
      }
    }
    .logout-menu {
      color: #283593;
      font-weight: bold;
      padding: 0 6px;
    }
  }
  .md-sidemenu-toggle md-icon:first-child {
    margin-right: 16px;
  }
}
