.user-left-sidebar {
  h3 {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
    line-height: 15px;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    &.user-button {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

.user-right-sidebar {
}

button.user-button {
  padding: 0 30px;
}

fieldset{
  &.permissions {
    text-align: center !important;
    width: 100% !important;
  }
}

h6.permission-header {
  background: #e4e3e3;
  padding: 10px;
  margin-top: 0px;
  top: 0px;
}

.permission-container {
  margin: 0 25px 0 0;
  min-width: 250px;
  width: 100%;
  .layout-wrap {
    padding: 0 15px !important;
    border-bottom: 1px solid #ccc;
  }
  .ng-scope {
    padding-right: 10px !important;
    text-align: left !important;
  }
}
