<md-toolbar class="sidebar-toolbar">
  <div layout-sm="row" class="md-toolbar-tools" flex>
    <app-header></app-header>
  </div>
</md-toolbar>
  <md-toolbar class="md-tall md-hue-2">
    <avatar></avatar>
  </md-toolbar>
<div layout="column" flex style="overflow-y: scroll;">
  <md-list>
    <md-sidemenu locked="true">
      <div ng-repeat="item in ctrl.menu">
        <md-sidemenu-content ng-if="!item.pages"
                             md-icon="{{item.icon}}"
                             md-heading="{{ item.title }}"
                             ui-sref="{{item.state}}">
        </md-sidemenu-content>

        <md-sidemenu-group ng-if="item.pages">
          <md-sidemenu-content md-icon="{{item.icon}}" md-heading="{{item.title}}" md-arrow="true">
            <md-button ng-repeat="page in item.pages">
              <a ui-sref="{{page.state}}" layout="row">
                <div class="inset"><ng-md-icon icon="{{page.icon}}"></ng-md-icon></div>
                <div class="inset">{{page.title}}</div>
              </a>
            </md-button>
          </md-sidemenu-content>
        </md-sidemenu-group>
      </div>
    </md-sidemenu>
  </md-list>
</div>
<!--<pre>{{ ctrl.menu | json }}</pre>-->
