<md-toolbar class="sidebar-toolbar">
    <div layout-sm="row" class="md-toolbar-tools" flex>
        <app-header></app-header>
    </div>
</md-toolbar>
<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
    <md-toolbar class="md-tall md-hue-2">
        <avatar></avatar>
    </md-toolbar>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in ctrl.menu" role="link" md-ink-ripple>
            <ng-md-icon icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">{{item.title}}</span>
            </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader  class="md-no-sticky">Management</md-subheader>
    </md-list>
</perfect-scrollbar>

<pre>{{ ctrl.menu | json }}</pre>
