<div class="search-container md-whiteframe-1dp">
  <!--search form starts -->
  <form class="search-form"
        ng-class="showSearch ? 'show-search' : 'hide-search'">
    <div class="input-group">
      <md-autocomplete class="hide-label"
                       md-autofocus="true"
                       id="search-input"
                       md-menu-class="suggested-results"
                       md-search-text="searchText"
                       md-items="facility in getFacilities(searchText)"
                       md-item-text="facility.name"
                       md-selected-item-change="facilityItemChange(facility)"
                       md-min-length="3"
                       ng-model="searchText"
                       placeholder="search facility by name or code...." flex>
        <md-item-template class="suggestion-box">
          <span md-highlight-text="searchText">{{ facility.name }} - {{ facility.facility_type }}-{{facility.council_name}}</span>
        </md-item-template>
        <md-not-found>
          No facility marching {{searchText}} was found
        </md-not-found>
      </md-autocomplete>
      <span class="input-group-btn">
        <md-button
            class="close-search"
            type="button"
            ng-click="showIt()">
          <ng-md-icon icon="close"></ng-mid-icon>
        </md-button>
      </span>
    </div><!-- Input Group -->
  </form>
  <!--search form ends -->
</div>
<div class="md-toolbar-tools">

  <hamburger></hamburger>

  <span flex></span>
  <md-button class="search-button"
             ng-click="showIt()"
             ng-show="((currentUser.role === 'SUPER_ADMIN') || (currentUser.role === 'COUNCIL_ADMIN'))">
    <ng-md-icon icon="search" class="show-search"></ng-md-icon>
  </md-button>

  <md-button class="notifications" layout-align="center center">
    <ng-md-icon icon="notifications"></ng-md-icon>
    <span class="badge bg-red">0</span>
  </md-button>

  <!--message icons starts here-->
  <md-button class="messages">
    <ng-md-icon icon="message"></ng-md-icon>
    <span class="badge bg-green">0</span>
  </md-button>
  <!--message icon ends here-->

  <!--vert options menu starts here-->
  <md-menu md-position-mode="target-right target" >
    <ng-md-icon icon="more_vert" class="top-toolbar-user-avatar" ng-click="$mdMenu.open($event)">
    </ng-md-icon>
    <md-menu-content width="4" >
      <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
        <md-menu-item ng-repeat="item in menu">
          <md-button ng-click="ctrl.announceClick($index)">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset"><ng-md-icon icon="{{item.icon}}"></ng-md-icon> </div>
              <div class="inset">{{item.title}}</div>
            </md-item-content>
          </md-button>
        </md-menu-item>
      </perfect-scrollbar>
    </md-menu-content>
  </md-menu>
  <!--vert options menu ends here-->
</div>
